body {
  background-color: #f5f7fa;
}

/* CARD */
.card {
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}

/* AUTOCOMPLETE */
.list-group {
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
}

/* INPUTS PEQUEÑOS */
input[type="number"] {
  text-align: center;
}