body {
  background-color: #f5f7fa;
}

/* CARD */
.trabajador {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.trabajador:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.trabajador:active {
  transform: scale(0.98);
}

/* AVATAR */
.avatar {
  font-size: 22px;
  background: #edf2f7;
  padding: 10px;
  border-radius: 50%;
}

/* TEXTO */
.horas {
  font-size: 18px;
}