<nav class="navbar">

  <div class="left">
    <span class="logo">Claudia Neteja</span>
  </div>

  <!-- 🔓 NO LOGUEADO -->
  <div class="center" *ngIf="!isLogged()">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>

  <!-- 🔐 LOGUEADO -->
  <div class="center" *ngIf="isLogged()">
    <a routerLink="/home">Home</a>
    <a routerLink="/registros">Registros</a>

    <!-- SOLO ADMIN -->
    <a *ngIf="rol === 'admin'" routerLink="/admin">
      Admin
    </a>
  </div>

  <!-- 🔐 DERECHA SOLO SI LOGUEADO -->
  <div class="right" *ngIf="isLogged()">
    <span class="user">👤 {{ nombre }}</span>
    <button (click)="logout()">Salir</button>
    <button (click)="toggleTema()">🌙 Tema</button>
  </div>

</nav>