body {
  background-color: #f5f7fa;
}

/* CARD */
.card {
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* BOTONES MES */
button {
  min-width: 45px;
}

/* TOTAL */
.alert {
  font-size: 16px;
}