body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}

/* HERO */
.container {
  margin-top: 100px;
}

/* TEXTO */
h1 {
  color: white;
}

p {
  color: #e2e8f0;
}

/* BOTONES */
.btn-primary {
  background-color: #ffffff;
  color: #4c51bf;
  border: none;
}

.btn-primary:hover {
  background-color: #e2e8f0;
}

.btn-outline-secondary {
  color: white;
  border-color: white;
}

.btn-outline-secondary:hover {
  background-color: white;
  color: #4c51bf;
}